body, .kr-font {
    font-family:"IBMPlexSansKR-Regular";
  }


@media (min-width: 992px) {
    .br-section-wrapper {
        padding: 40px 50px;
    }
}

@media (min-width: 992px) {
    .br-mainpanel {
        margin-left: 200px;
    }
    .br-header {
        left: 200px;
    }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.br-logo > a i {
    font-weight: bold;
}

.br-sideleft {
    width: 200px;
}

.br-logo {
    font-weight: bold;
    width: 200px;
}
  
.kr-font h4, .kr-font h6 {
    font-weight: bold;
}

.br-mainpanel.kr-font .ckbox {
    margin-bottom: 0.1rem;
}

.br-mainpanel.kr-font #qveyAdmin .ckbox {
    position: absolute;
    right: 0.5rem;
}

.applicant-tbl-wrap::-webkit-scrollbar, *::-webkit-scrollbar {
    height: 10px;
    width: 12px;
}
.applicant-tbl-wrap::-webkit-scrollbar-thumb, *::-webkit-scrollbar-thumb {
    background-color: #bbb;
}

.applicant-tbl-wrap::-webkit-scrollbar-track, *::-webkit-scrollbar-track {
    background-color: #eee;
}

.applicant-tbl {
    min-width: 1238px;
}

table#privacyTbl {
    min-width: 1526px;
}
table#eventTbl {
    min-width: 1000px;
}
table#logTbl {
    min-width: 960px;
}

.dateTilde {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    margin-bottom: 0;
    padding-right: 20px;
}
@media (min-width: 576px) {
    .dateTilde {
        padding-right: 0;
        margin-left: 6px!important;
    }
}

.nav-link.active {
    color: #17A2B8!important;
    font-weight: bold;
}

/* aimanagerBtn */
#privacyBtnG button, #surveyBtnG button {
    padding: 0.4rem 1rem;
}

/* send-btn */

.send-btn {
    cursor: pointer;
    color: #adb5bd;
    background-color: transparent;
    background-image: none;
    border: 1px solid #adb5bd;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
}

/* alert */
#sucAlert {
    opacity: 0;
    bottom: 0;
    right: 1%;
}

img.qr-img:hover {
    cursor: pointer;
    border: 2px solid #17A2B8 inset;
    box-sizing: border-box;
    opacity: 0.5;
}

/* create new event */
#relativeBox label {
    position: relative;
    right: 0;
}
@media (min-width: 992px) {
    #eventCreate {
        justify-content: center;
        align-items: center;
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
}
@media (max-width: 393px) {
    #createNewEvt .br-section-wrapper .tx-center a {
        padding: 10px 30px;
    }
    [id^="preview"] {
        padding: 30px 20px;
    }
}

/* event detail */
.qr-img { width: 50%; }



/* placeholder */
input::placeholder {
    color: #ddd!important;
}


/* alert */
#sucAlert.fadeInUp_ {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

@-webkit-keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translateY(100%);
      transform: translateY( 100% );
    }
  
    to {
      opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  @keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translateY(100%);
        transform: translateY( 100% );
      }
    
      to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
      }
  }


/* @-webkit-keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  @keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  } */


/* ################## create_new_event ##################  */
.form-layout-7 label {
    font-size: 1.2em;
}
.certi-file {
    display: none;
}


/* ### signup ### */
@media (min-width: 640px) {
    .signup-wrap{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #e9ecef;
        height: 100vh;
    }
}

@media (max-width: 575px){
    .form-layout.form-layout-5 > .row .col-sm-5 {
        width: 70%;
    }
    .form-layout.form-layout-5 > .row .col-sm-3 {
        width: 20%;
        margin-top: 10px;
    }
}

/* ### index.html find-account ### */
@media (min-width: 576px){
    #findAccIp label {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}

/* tooltip */
#tooltip { display: none; }
.arrow.mg-l--5 {
    left: 47%;
}


/* event table */
textarea[name="eventDescript"] {
    height: 5em;
}


/* ul tab */
ul.nav-tabs-style-1 {
    box-shadow: 0px 1px 3px 0px rgb(0 0 0 / 21%);
    border-radius: 3px;
}

/* tabPrivacy */
#eventCreateA, #sendCreateB, #sendCreateA {
    padding: 10px 50px !important;
    align-items: center;
    justify-content: center;
}
#eventCreateA { margin-right: 10px; }

#privacyTbl td input[type='text'], #privacyTbl td input[type='text']+button {
    color: #868ba1;
    border: 1px solid #dee2e6;
}
#privacyTbl td input[type='text'] {
    width: 100px;
    margin-right: 5px;
}

#prReqBtn, #suReqBtn{
    display: none;
}
#privacySFA button, #privacyMCA button, #prReqBtn, #suReqBtn {
    padding: 0.15rem 0.75rem;
}

#privacySFA, #privacyMCA, #surveySFA, #surveyMCA {
    display: none;
}

#sfaInputGroup input {display: none;}

label.rdiobox { margin: 0; }

#collapseOne .list-group-item, #userCollapse .list-group-item, #collapseOneS .list-group-item {
    border: 0;
}
.accordion .card-header a {
    padding: 15px 30px;
}
.question-set {
    cursor: pointer;
}
.list-group:hover {
    background-color: #fafafa;
}

.tab-pane .br-section-wrapper .form-layout.form-layout-7 textarea {
    height: 80px;
    border: 1px solid #efefef;
    padding: 0.5rem;
}

/* preview card */
#preview, #previewS {
    display: none;
}
#collapseOne, #userCollapse, #collapseOneS {
    padding: 20px 0;
}

@media (min-width: 460px) {
    .card-block {
        padding: 0 30px;
    }
}


/* send view */
#sendInfoB table {
    max-height: 200px;
    overflow: auto;
}

#sendInfoB tbody td {
    padding: 0;
}

#sendInfoB tbody td input {
    /* padding: 4px; */
    text-align: center;
    border: 0;
    width: 100%;
    padding: 0;
    display: block;
    margin: 0 auto;
}
textarea::placeholder {
    color: #ddd!important;
}

/*
#linkIn {
    border: 1px solid #ced4da;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5.6px 31px!important;
}
*/
#rlWrap {
    width: auto;
    padding: 0 1%;
}

#rlWrap label {
    flex: 0 0 19%;
    max-width: 19%;
    margin: 0 -0.5%;
}



.pl-wrap {
    width: 100%;
    justify-content: end;
    align-items: center;
    margin: 20px 0;
}

.rl-wrap {
    width: 100%;
    align-items: center;
    justify-content: end;
    margin: 20px -5px;
}

@media (max-width: 575.98px) {

    select[name='sendOption'] {
        flex: 0 0 80%;
        max-width: 80%;
    }
    #linkIn, #sendInfoB .btn.btn-outline-light.mg-l-10.d-block, .submit-btns a {
        width: auto!important;
    }
    /*
    #linkIn {
        flex: 0 0 6%;
        max-width: 6%;
    }
    */
}

@media (max-width: 991px) {
    #sendView .row.no-gutters {
        padding: 0 2.5%;
    }
    #sendView #svTtl label, #sendView #svCont label {
        max-width: unset;
        flex: unset;
        justify-content: start;
    }
    #sendTtl, #sendCont {
        margin-top: 10px;
    }
    #rlWrap, #sendInfoB .calling-number-group {
        padding: 0 0.6%;
    }
    .reqNum-wrap, .receiving-number-wrap, #sendInfoB .col-lg-2.col-sm-2.form-control-label {
        width: auto!important;
    }
    #rlWrap label {
        display: none;
    }
    #sendInfoB .sendTbl-wrap {
        padding-left: 16px;
        padding-right: 16px;
    }
}


/* send infoB */
#sendInfoB .align-center {
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

#sendRsv {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.reg-type-wrap label {
    display: inline-block;
    margin-left: 20px;
}
.reg-type-wrap label:first-child {
    margin-left: 0;
}

#uploadRow {
    display: none;
    justify-content: center;
    margin-bottom: 1rem;
}
.custom-file-label {
    color: unset;
}


/* spinner */

.sk-three-bounce {
    width: 80px;
    text-align: center; 
    position: fixed;
    margin: 0 auto;
    left: 50%;
    bottom: 50%;
    z-index: 9999;
}
.sk-three-bounce .sk-child {
      width: 20px;
      height: 20px;
      background-color: #fff;
      border-radius: 100%;
      display: inline-block;
      -webkit-animation: sk-three-bounce 1.4s ease-in-out 0s infinite both;
              animation: sk-three-bounce 1.4s ease-in-out 0s infinite both; 
}
.sk-three-bounce .sk-bounce1 {
      -webkit-animation-delay: -0.32s;
              animation-delay: -0.32s; 
}
.sk-three-bounce .sk-bounce2 {
      -webkit-animation-delay: -0.16s;
              animation-delay: -0.16s; 
}
@-webkit-keyframes sk-three-bounce {
    0%, 80%, 100% {
      -webkit-transform: scale(0);
              transform: scale(0); }
    40% {
      -webkit-transform: scale(1);
              transform: scale(1); } 
}
  
@keyframes sk-three-bounce {
    0%, 80%, 100% {
      -webkit-transform: scale(0);
              transform: scale(0); }
    40% {
      -webkit-transform: scale(1);
              transform: scale(1); } 
}

/* qvey company */

#compMem tr td {
    cursor: pointer;
}

select[name='checkAuth'], select[name='memStat'], .sch-comp {
    border: 1px solid #ced4da!important;
    padding: 10px!important;
}
.sch-comp {
    padding: 0!important;
    border-radius: 3px;
}
.sch-comp input.form-control {
    padding-left: 10px;
}

@media (min-width: 768px) {
    select[name='checkAuth'], select[name='memStat'], .sch-comp {
        width: 50%!important;
    }
}

.sch-comp button.btn, .calling-num-add-btn {
    background-color: #ced4da;
}
.sch-comp button.btn i, .calling-num-add-btn {
    color: #fff;
}
.bootstrap-tagsinput {
    display: none;
    padding: 10px;
}
.tag.label {
    background-color: #6c757d;
    margin-right: 4px;
}
.tag.label >span {
    padding-left: 4px;
    cursor: pointer;
}

input[name='callingNum'] {
    width: 40%;
    border: 1px solid #efefef!important;
    padding: 0.5rem!important;
}

#callingNumBox.parsley-checkbox {
    max-height: 140px;
    overflow-y: scroll;
    width: 50%;
    border: 1px solid #efefef;
    padding: 0.25rem 0.5rem;
}
@media (max-width: 767px) {
    #callingNumBox.parsley-checkbox {
        width: 100%;
    }
}

#callingNumBox.parsley-checkbox label {
    margin-top: 8px;
}
#callingNumBox i[data-role="remove"] {
    padding-left: 4px;
    cursor: pointer;
    font-size: 0.76563rem;
    color: #495057;
    font-style: unset;
    margin-left: 0.5rem;
}
#callingNumBox i[data-role="remove"]::after {
    content: '\f2d7';
    font-family: 'Ionicons';
    font-size: 16px;
    opacity: .75;
}
#callingNumBox i[data-role="remove"]:hover {
    color: #222;
    font-weight: bold;
}

.multi-del-wrap{
    display: none;
    width: 50%;
    text-align: center;
}
@media (max-width: 767px) {
    .multi-del-wrap{
        margin: 0 auto;
    }
}

/* customer serch */

form#rstTbl {
    max-height: 280px;
    overflow-y: scroll;
}



/* ############################## USER ############################## */


/* user cert */

.tx-primary { color: #2985db; }
.btn-primary {
    color: #fff;
    background-color: #2985db;
    border-color: #2985db;
}
.btn-primary:hover {
    color: #fff;
    background-color: #0866C6;
    border-color: #0866C6;
}

.form-control:focus, .dataTables_filter input:focus {
    border-color: #2985db;
}


/* preview card */

#userCollapse .card-block {
    padding: 0;
}
#userCollapse h6 {
    font-size: 1rem;
}
#userCollapse .pre-ttl-num {
    font-weight: bold;
}

#userCollapse .rdiobox input[type='radio']:checked + span:before {
    background-color: #2985db;
}

#userCollapse .list-group-item {
    padding: 0.5rem 0;
}



/* company detail */

#chargeAmount .card-wrap {
    justify-content: center;
    padding: 15px 0;
    text-transform: inherit;
    border-right-width: thin;
}

#chargeAmount .card-header-tabs a.nav-link {
    color: #6c757d;
}

.compdt-wd {
    margin: 20px 30px;
    box-shadow: 0px 1px 3px 0px rgb(0 0 0 / 21%);
    border-width: 0;
}
.compdt-wd .card-body a {
    text-decoration: underline;
    color: #6c757d;
    font-weight: 600;
}
.cBtn {
    text-decoration: none!important;
}

.compdt-wd nav a, .cBtn {
    color: #17A2B8!important;
}
.cBtn > button {
    padding: 0.65rem 2.5rem;
}
.compdt-wd .btn-outline-info:hover a, .cBtn:hover {
    color: #fff!important;
}

#chargeAmount input[type='text'] {
    border: 1px solid #ccc;
    padding: 0 10px;
}

#chargeAmount .card.wd-100p {
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.bg-point {
    background-color: #9be7ef;
    color: #495057;
}
#stBtn button:hover {
    cursor: pointer;
}
table#histTbl {
    min-width: 1000px;
}

@media (max-width: 479px) {
    .card-header-tabs {
        flex-direction: row;
    }
    .card-header-tabs .nav-link.active, .card-header-tabs .nav-link.active, .card-header-tabs .nav-link.active:hover {
        border-bottom-color: #fff;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
}

#qveyCompanyDetail .br-pagebody .br-section-wrapper {
    padding: 40px 34px;
}
#qveyCompanyDetail .br-pagebody .br-section-wrapper.mg-t-30 {
    padding: 40px 46px;
}

@media (max-width: 575px) {
    #qveyCompanyDetail .compdt-wd {
        margin: 20px 16px;
    }
}

@media (max-width: 991px) {
    #qveyCompanyDetail .br-pagebody .br-section-wrapper {
        padding: 30px 14px;
    }
    #qveyCompanyDetail .br-pagebody .br-section-wrapper.mg-t-30 {
        padding: 30px;
    }
}
.custom-file {
    width: 70%;
}
.samp-btn-wrap {
    position: absolute;
    top: 0;
    right: 0;
}
.samp-btn {
    color: #495057;
    font-size: 16px;
}


#tabPrivacy i.icon.ion-help-circled {
    position: absolute;
    left: 70px;
    bottom: -1.5px;
    font-size: 15px;
}
.use-point-chk {
    font-size: 12px;
    padding-left: 0px !important;
    /* cursor: pointer; */
}
.use-point-chk .use-tooltip {
    left: 6rem;
    top: -1rem;
    opacity: 0;
}
/* .use-point-chk:hover .use-tooltip {
    opacity: 1;
} */
.bs-popover-right .arrow {
    top: 1rem;
}
.tt-wrap .tx-primary::before {
    display: none;
}

.ui-datepicker {
    z-index: 9999!important;
}

#userAgree.card .card-body {
    padding: 2rem 0;
}

#userAgree.card .card-text {
    border: 1px solid #ddd;
    overflow-y: scroll;
    max-height: 100px;
    font-size: 9px;
    padding: 0.25rem 0.5rem;
}

#userCert .ckbox span:after {
    background-color: #2985db;
}

.agr-dec-wrap {
    display: none;
}

textarea[name="agreeDescript"] {
    color: #888;
}
textarea[name="agreeDescript"].ex-on {
    height: 180px!important;
}

input[name="agrDscTtl"] {
    border: 1px solid #efefef!important;
    margin-bottom: 10px;
    padding: 0.25rem 0.5rem!important;
    color: #888;
}